@model Mess_Management_System.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.itemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purchase_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchase_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mess_member.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mess_member.userName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.itemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
