@model IEnumerable<Mess_Management_System.Models.Meal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mealDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMealNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mess_member.userName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mealDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalMealNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mess_member.userName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.mealID }) |
            @Html.ActionLink("Details", "Details", new { id=item.mealID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.mealID })
        </td>
    </tr>
}

</table>
