@model Mess_Management_System.Models.MonthlyCost

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MonthlyCost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Month_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.avg_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.avg_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.individual_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.individual_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manager.managerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manager.managerId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
