@model IEnumerable<Mess_Management_System.Models.manager>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mess_member.userName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mess_member.userName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.managerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.managerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.managerId })
        </td>
    </tr>
}

</table>
